version: 2
jobs:
  build:
    docker:
      - image: ubuntu
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: apt-get update -q && apt-get install -y bison re2c g++ gcc binutils build-essential
      - run:
          name: Make
          command: make clean test
